---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
  <a href={href} class="link-content">
    <h2>{title} <span>&rarr;</span></h2>
    <p>{body}</p>
  </a>
</li>

<style>
  :root {
    --card-bg: #0d1117;
    --text-color: #c9d1d9;
    --accent-text: #58a6ff;
    --paragraph-color: #8b949e;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --hover-shadow: rgba(0, 0, 0, 0.7);
    --gradient: linear-gradient(135deg, #ff7a18, #af002d 70%);
  }

  .link-card {
    position: relative;
    list-style: none;
    margin: 0;
    background-color: var(--card-bg);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 10px var(--shadow-color);
    border: 2px solid transparent;
    height: 100%;
  }

  .link-card::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 12px;
    background: var(--gradient);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
  }

  .link-card:hover::before {
    opacity: 1;
  }

  .link-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--hover-shadow);
  }

  .link-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 12px;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--accent-text);
    text-align: center;
    transition: color 0.3s ease;
  }

  .link-card:hover h2 {
    color: #ffffff;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: var(--paragraph-color);
  }
</style>
